.message-wrapper--their {
  justify-content: flex-start;
}

.message-wrapper--their .message {
  margin-right: 0;
  padding: 8px 15px 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #e9e9eb;
  border-radius: 20px;
}

.message-wrapper--their .text {
  color: #1d1d1d;
}

.text {
  font-size: 18px;
}
